<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yys3005.mapper.CategoryMapper">

    <select id="queryAllCategory" resultType="Category">
-- query all categories
        select * from category
    </select>

    <delete id="deleteCategory">
-- delete categories by cid
        delete from category where cid=#{cid}
    </delete>

    <update id="updateCategory">
-- update categories by id
        update category set cname=#{cname} where cid=#{cid}
    </update>

    <select id="queryCategoryById" resultType="Category">
-- query category by id
        select * from category where cid=#{cid}
    </select>

    <insert id="addCategory">
-- add category
       insert into category values(#{cid},#{cname})
    </insert>


</mapper>