<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yys3005.mapper.UserMapper">

    <select id="selectByName" resultType="User">
-- query customer by user_id
        select * from pe_user where username = #{username}
    </select>

    <select id="selectRolesByName" resultType="String">
-- query role and authentication
        SELECT NAME FROM pe_role WHERE id IN (SELECT role_id FROM pe_user_role WHERE user_id IN( SELECT id FROM pe_user WHERE username=#{username}))
    </select>

    <select id="selectPremsByName" resultType="String">
-- query permission by name
        SELECT CODE FROM pe_permission WHERE id IN (SELECT permission_id FROM pe_role_permission WHERE role_id IN (SELECT role_id FROM pe_user_role WHERE user_id IN( SELECT id FROM pe_user WHERE username=#{username})))
    </select>

    <insert id="addUser">
        insert into pe_user values (#{id},#{username},#{password})
    </insert>




</mapper>